##  Gesti贸n de Tiendas: dise帽o y poblado de una BBDD SQL con Python 
# MERCAZONA

Este proyecto desarrolla una base de datos relacional para la gesti贸n de una cadena de tiendas, utilizando **MySQL Workbench** para la estructuraci贸n del esquema y **Python** para la automatizaci贸n de la carga de datos. A lo largo del proceso, se explican los pasos: desde la creaci贸n del esquema SQL hasta la inserci贸n de datos mediante programaci贸n **Python**.

El modelo de datos est谩 compuesto por siete tablas clave, representando entidades como tiendas, empleados, productos, clientes y 贸rdenes de compra. Los datos se generan de forma programada y aleatoria, manteniendo una distribuci贸n realista. Los n煤meros y distribuci贸n son los siguientes:

* **10 tiendas** con **200 empleados**, distribuidos en diferentes roles.
* **40 productos**, organizados en **10 categor铆as**.
* **2000 clientes**, con una distribuci贸n no uniforme, priorizando la regi贸n andaluza territorio de origen de la marca.
* **10,000 贸rdenes de compra**, cada una con m煤ltiples art铆culos, sumando **30,000 detalles de orden**.

El c贸digo que se ha realizado en Python automatiza la generaci贸n y el env铆o de estos datos a la base de datos MySQL, asegurando una integraci贸n eficiente y reproducible.

Este repositorio ademas de servir como un portafolio t茅cnico, tambi茅n puede ser un recurso educativo para quienes buscan aprender sobre bases de datos relacionales, modelado de datos y automatizaci贸n con Python.

## Empecemos:

### 1锔 **Instalaci贸n del conector de MySQL**
Antes de ejecutar el c贸digo, se instala la librer铆a :       
(Permite la conexi贸n con la base de datos MySQL.)

In [17]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\franc\appdata\local\programs\python\python312\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip


### 2锔 **C贸digo completo de env铆o del esquema SQL**
El siguiente c贸digo en Python realiza la lectura del SQL que contiene el esquema de la BBDD, establece una conexi贸n con MySQL y ejecuta las sentencias contenidas en el archivo. Para el manejo de errores se introduce laestructura try-exept-fynally, cerrando la conexi贸n en 煤ltimo lugar.

In [18]:
import mysql.connector as con

try:
    with open('MercaZona_schema2.sql', mode='r', encoding='utf-8') as file:
        sql = file.read()
    
    connection = con.connect(
        host="localhost",
        port="3306",
        user="root",
        password="admin"
    )
    cursor = connection.cursor()
    for statement in sql.split(';'):
        if statement.strip():
            cursor.execute(statement)
    print("TODO OK.")

except con.Error as e:
    print(f"Error al interactuar con la base de datos: {e}")
    if connection:
        connection.rollback()

finally:
    if 'cursor' in locals() and cursor:
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
    print("Recursos cerrados correctamente.")

TODO OK.
Recursos cerrados correctamente.

##### **Explicaci贸n del C贸digo**

1. **Lectura del archivo SQL**: Se abre y se lee el contenido del archivo `MercaZona_schema2.sql` (que se adjunta al proyecto) en modo de lectura (`'r'`) con codificaci贸n UTF-8.

2. **Conexi贸n a MySQL**: Par谩metros:
   - `host="localhost"`: Indica que el servidor de la base de datos se ejecuta en la misma m谩quina.
   - `port="3306"`: Especifica el puerto predeterminado en el que MySQL est谩 escuchando conexiones.
   
3. **Ejecuci贸n de sentencias SQL**: Se divide el contenido del archivo en sentencias individuales utilizando `split(';')`. Luego, se recorre cada una de ellas y se ejecuta con `cursor.execute(statement)`, asegurando que todas las columnas se procesen correctamente.
4. **Manejo de errores**: Se implementa un bloque `try-except` para capturar errores de conexi贸n o ejecuci贸n de SQL. En caso de fallo, se muestra un mensaje con la descripci贸n del error y se revierte cualquier operaci贸n pendiente con `connection.rollback()`.
5. **Cierre de conexi贸n**: Se verifica que si los objetos `cursor` y `connection` existen y est谩n activos se cierren correctamente para evitar problemas.

### 3锔 **Creaci贸n del DataFrame de Tiendas**
El siguiente c贸digo crea un `DataFrame` con la informaci贸n de las tiendas, incluyendo su nombre, direcci贸n y ciudad.

In [19]:
import pandas as pd

tiendas = ['MZ_Madrid', 'MZ_Barcelona', 'MZ_Vigo', 'MZ_Sevilla', 'MZ_Bilbao', 'MZ_Valencia', 'MZ_M谩laga', 'MZ_Toledo', 'MZ_C谩diz', 'MZ_Murcia']
direccion = ['Calle del Llano, 40', 'Carrer Splugat del Ferrer, 4', 'Rua da Trapallada , 20', 'Calle del Sobrao, 15', 'Harrizko kalea, 21', 'Carrer Sort, 23', 'Calle del Espeto, 2', 'Paseo Imperial, 43', 'Calle del Quillo, 6', 'Calle Queloqu茅, 1']
ciudad = ['Madrid', 'Barcelona', 'Vigo', 'Sevilla', 'Bilbao', 'Valencia', 'M谩laga', 'Toledo', 'C谩diz', 'Murcia']

df_tiendas = pd.DataFrame(
    zip(tiendas, direccion, ciudad),
    columns=['nombre_tienda', 'direccion', 'ciudad']
)

df_tiendas = df_tiendas.reset_index().rename({'index': 'id_tienda'}, axis=1)
df_tiendas['id_tienda'] = df_tiendas['id_tienda'] + 1
df_tiendas.head()

   id_tienda nombre_tienda                     direccion     ciudad
0          1     MZ_Madrid           Calle del Llano, 40     Madrid
1          2  MZ_Barcelona  Carrer Splugat del Ferrer, 4  Barcelona
2          3       MZ_Vigo        Rua da Trapallada , 20       Vigo
3          4    MZ_Sevilla          Calle del Sobrao, 15    Sevilla
4          5     MZ_Bilbao            Harrizko kalea, 21     Bilbao

##### **Explicaci贸n del C贸digo**

1. **Definici贸n de listas**: Se crean tres listas (`tiendas`, `direccion` y `ciudad`), para posteriormente agregarlas como contenido de las respectivas columnas..
2. **Creaci贸n del DataFrame**:
   - Se genera un `DataFrame` con `pd.DataFrame`.
   - Se usa `zip()` para combinar las listas en una estructura de columnas.
3. **A帽adir una columna de ID**:
   - Se usa `.reset_index()` para agregar un 铆ndice num茅rico y se renombra como `id_tienda`.
   - Se ajusta el 铆ndice sumando `+1` para que empiece desde 1 en lugar de 0.

Este DataFrame ser谩 la base para cargar informaci贸n de tiendas en la base de datos MySQL.

### 4锔 **Creaci贸n del DataFrame de Empleados**
Este c贸digo automatiza la generaci贸n de datos para la base de datos de tiendas. Incluye los empleados con una distribuci贸n por tienda y asignaci贸n de puestos de trabajo estructurada.

In [20]:
puestos_por_tienda = {
    'Gerente': 1,
    'Encargada/o Tienda': 1,
    'Responsable Almac茅n': 1,
    'Atenci贸n al Cliente': 3,
    'Limpiador/a': 3,
    'Reponedor/a': 5,
    'Cajero/a': 6 }

empleados_x_tienda = sum(puestos_por_tienda.values())
total_empleados = len(df_tiendas) * empleados_x_tienda

empleados = []
contador = 1

for id_tienda in df_tiendas['id_tienda']:
    for _ in range(empleados_x_tienda):
        empleados.append({'empleado': f'Emplead@{contador}', 'id_tienda': id_tienda})
        contador += 1

puestos = []
for id_tienda in df_tiendas['id_tienda']:
    for puesto, cantidad in puestos_por_tienda.items():
        for _ in range(cantidad):
            puestos.append({'puesto': puesto, 'id_tienda': id_tienda})

df_empleados = pd.DataFrame(
    zip([emp['empleado'] for emp in empleados], [puesto['puesto'] for puesto in puestos], [emp['id_tienda'] for emp in empleados]),
    columns=['nombre_empleado', 'puesto', 'id_tienda'])

df_empleados = df_empleados.reset_index().rename({'index': 'id_empleado'}, axis=1)
df_empleados['id_empleado'] = df_empleados['id_empleado'] + 1
df_empleados.head()

   id_empleado nombre_empleado               puesto  id_tienda
0            1       Emplead@1              Gerente          1
1            2       Emplead@2   Encargada/o Tienda          1
2            3       Emplead@3  Responsable Almac茅n          1
3            4       Emplead@4  Atenci贸n al Cliente          1
4            5       Emplead@5  Atenci贸n al Cliente          1

In [21]:
print(f'El n煤mero total de empleados en la cadena de supermercados MercaZona es de {total_empleados} empleados.')
print(f'El n煤mero de empleados por tienda es de {empleados_x_tienda} empleados.') 
print(f'Los puestos est谩n dstribuidos de la siguiente manera:') 
print(f'{puestos_por_tienda}')

El n煤mero total de empleados en la cadena de supermercados MercaZona es de 200 empleados.
El n煤mero de empleados por tienda es de 20 empleados.
Los puestos est谩n dstribuidos de la siguiente manera:
{'Gerente': 1, 'Encargada/o Tienda': 1, 'Responsable Almac茅n': 1, 'Atenci贸n al Cliente': 3, 'Limpiador/a': 3, 'Reponedor/a': 5, 'Cajero/a': 6}

##### **Explicaci贸n del C贸digo**

1. **Definici贸n de puestos**: Se crea un diccionario con la cantidad de cada puesto por tienda.
2. **C谩lculo del total de empleados**: Se multiplica la cantidad de empleados por tienda por el n煤mero total de tiendas.
3. **Generaci贸n de empleados**:
   - Se asigna un identificador 煤nico a cada empleado y se asocia con su tienda correspondiente.
4. **Asignaci贸n de puestos**:
   - Se generan los puestos en funci贸n de la cantidad definida en el diccionario y se asocian con cada tienda.
5. **Creaci贸n del DataFrame**:
   - Se combinan los datos de empleados y puestos en un `DataFrame` usando .zip y una iteracion que recorra todos los datos las columnas. 
   - Se agrega un `id_empleado`.
Este DataFrame servir谩 como base para la carga de datos en la tabla de empleados de la base de datos MySQL.

### 5锔 **Creaci贸n del DataFrame de Categor铆as**
Este c贸digo realiza la craci贸n de categorias para la base de datos de tiendas, creando las mismas de manera estructurada y a ellas luego se a帽adiran los produtos.

In [22]:
categorias = [
    "Alimentaci贸n Fresca",
    "Alimentaci贸n No Perecedera",
    "Platos Preparados",
    "Bebidas",
    "Congelados",
    "Panader铆a y Reposter铆a",
    "Productos de Higiene",
    "Droguer铆a y Limpieza",
    "Beb茅 y Puericultura",
    "Mascotas"
]

df_categoria = pd.DataFrame(categorias, columns=['nombre_categoria'])

df_categoria = df_categoria.reset_index().rename({'index': 'id_categoria'}, axis=1)
df_categoria['id_categoria'] = df_categoria['id_categoria'] + 1
df_categoria.head(11)

   id_categoria            nombre_categoria
0             1         Alimentaci贸n Fresca
1             2  Alimentaci贸n No Perecedera
2             3           Platos Preparados
3             4                     Bebidas
4             5                  Congelados
5             6      Panader铆a y Reposter铆a
6             7        Productos de Higiene
7             8        Droguer铆a y Limpieza
8             9         Beb茅 y Puericultura
9            10                    Mascotas

##### **Explicaci贸n del C贸digo**

1. **Definici贸n de categor铆as**: Se crea una lista con los diferentes tipos de categor铆as de productos disponibles en la tienda.
2. **Creaci贸n del DataFrame**:
   - Se usa `pd.DataFrame()` para transformar la lista en un DataFrame con una sola columna llamada `nombre_categoria`.
   - Se genera un 铆ndice num茅rico que se renombra como `id_categoria`.
   - Se ajusta la numeraci贸n para que empiece desde 1 sumando `+1` a cada 铆ndice, como en anteriores ocasiones.

Este DataFrame servir谩 como base para la carga de datos en la tabla de categor铆as de la base de datos MySQL.

### 6锔 **Creaci贸n del DataFrame de Productos** 
Dataset de creaci贸n de productos disponibles en cada categor铆a, con sus respectivos precios y stock aleatorio.

In [23]:
import random

productos_X_cat = {
    "Alimentaci贸n Fresca": ["Manzana", "Lechuga", "Pollo", "Gambones"],
    "Alimentaci贸n No Perecedera": ["Arroz", "Pasta", "Lentejas", "Aceite"],
    "Platos Preparados": ["Lasagna", "Pizza", "Ensaladilla", "Canelones"],
    "Bebidas": ["Agua", "Jugo", "Refresco", "Cerveza"],
    "Congelados": ["Helado", "Guisantes", "Medallones", "San Jacobos"],
    "Panader铆a y Reposter铆a": ["Pan Integral", "Croissant", "Magdalena", "Rosquillas"],
    "Productos de Higiene": ["Jab贸n", "Champ煤", "Desodorante", "Pasta de dientes"],
    "Droguer铆a y Limpieza": ["Detergente", "Lej铆a", "Suavizante", "Sanitol"],
    "Mascotas": ["Purina", "Advance", "Correa", "Arena"]
}

precios_X_producto = {producto: random.uniform(0.50, 10.00) for categoria in productos_X_cat.values() for producto in categoria}

productos_datos = []
for id_categoria, (categoria, productos) in zip(df_categoria['id_categoria'], productos_X_cat.items()):
    for producto in productos:
        productos_datos.append({
            'nombre_producto': producto,
            'precio': precios_X_producto[producto],
            'stock': random.randint(0, 500),
            'id_categoria': id_categoria
        })

df_productos = pd.DataFrame(productos_datos)
df_productos = df_productos.reset_index().rename({'index': 'id_producto'}, axis=1)
df_productos['id_producto'] = df_productos['id_producto'] + 1
df_productos.head()

   id_producto nombre_producto    precio  stock  id_categoria
0            1         Manzana  0.787383     53             1
1            2         Lechuga  2.054171    216             1
2            3           Pollo  4.753901    251             1
3            4        Gambones  3.619864    147             1
4            5           Arroz  5.313727     59             2

##### **Explicaci贸n del C贸digo**

1. **Definici贸n de productos**: Se establece un diccionario con categor铆as de productos y una lista de productos por cada una.
2. **Asignaci贸n de precios y stock**:
   - Se generan precios aleatorios para cada producto.
   - Se genera una cantidad de stock aleatoria entre 0 y 500 unidades.
3. **Creaci贸n del DataFrame**:
   - Se combinan los datos de productos, precios y stock en un `DataFrame`.
   - Se genera un 铆ndice 煤nico para cada producto, comenzando desde `1`.
Este DataFrame servir谩 como base para la carga de datos en la tabla de productos de la base de datos MySQL.


### 7锔 **Creaci贸n del DataFrame de Clientes**
Se genera un conjunto de datos que incluye nombres, apellidos, correos electr贸nicos, tel茅fonos, codigo postal y ubicaci贸n asignada a una tienda.

In [24]:
import random

random.seed(2021)
n_filas = 2000

nombres = [f'cliente0{numero}' if numero < 10 else f'Cliente{numero}' for numero in range(n_filas)]
apellidos = [f'apellido0{numero}' if numero < 10 else f'apellido{numero}' for numero in range(n_filas)]

def generar_telefono():
    return f"6{random.randint(10000000, 99999999)}"

telefono = [generar_telefono() for _ in range(n_filas)]
emails = [f'{nombre}.{apellido}@jemail.com' for nombre, apellido in zip(nombres, apellidos)]

codigo_postal_prefix = {
    'Madrid': 28,
    'Barcelona': 8,
    'Vigo': 36,
    'Sevilla': 41,
    'Bilbao': 48,
    'Valencia': 46,
    'M谩laga': 29,
    'Toledo': 45,
    'C谩diz': 11,
    'Murcia': 30
}

pesos = [0.11, 0.09, 0.08, 0.15, 0.08, 0.04, 0.14, 0.03, 0.20, 0.05]
pesos_nor = [p / sum(pesos) for p in pesos]  

id_tienda = random.choices(df_tiendas['id_tienda'], weights=pesos_nor, k=n_filas)

df_clientes = pd.DataFrame(
    zip(nombres, apellidos, emails, telefono, id_tienda),
    columns=['first_name', 'last_name', 'email', 'telefono', 'id_tienda']
)

df_clientes = df_clientes.merge(df_tiendas, on='id_tienda', how='left')
df_clientes['codigo_postal'] = df_clientes['ciudad'].map(lambda x: f"{codigo_postal_prefix[x]:02}{random.randint(100, 999)}")

df_clientes.drop(columns=['nombre_tienda', 'ciudad', 'direccion'], inplace=True)
df_clientes = df_clientes.reset_index().rename({'index': 'id_cliente'}, axis=1)
df_clientes['id_cliente'] = df_clientes['id_cliente'] + 1

df_clientes.head()

,id_cliente,first_name,last_name,email,telefono,id_tienda,codigo_postal
0,1,cliente00,apellido00,cliente00.apellido00@jemail.com,664251571,7,29259
1,2,cliente01,apellido01,cliente01.apellido01@jemail.com,694525032,9,11100
2,3,cliente02,apellido02,cliente02.apellido02@jemail.com,683029252,9,11323
3,4,cliente03,apellido03,cliente03.apellido03@jemail.com,647139583,9,11876
4,5,cliente04,apellido04,cliente04.apellido04@jemail.com,643196383,7,29737

+ Numero de clientes por tienda.

In [25]:
clientes_por_tienda = df_clientes['id_tienda'].value_counts().reset_index()
clientes_por_tienda.columns = ['tienda_id', 'num_clientes']

clientes_X_tienda = clientes_por_tienda.sort_values(by='num_clientes', ascending=False)
clientes_X_tienda

   tienda_id  num_clientes
0          9           404
1          4           330
2          7           286
3          1           211
4          2           183
5          3           166
6          5           158
7         10           116
8          6            81
9          8            65

##### **Explicaci贸n del C贸digo**

En este bloque de c贸digo, generamos un total de **2000 clientes ficticios**, cada uno con su nombre, apellido, c贸digo postal, correo electr贸nico y n煤mero de tel茅fono. Para darle un toque de realismo, los clientes no se distribuyen de manera uniforme en las tiendas, sino que se priorizan ciertas regiones por el origuen y antiguedad del establecimiento en ellas. En particular, las tiendas donde naci贸 la marca cuentan con una mayor afluencia de clientes en comparaci贸n con las tiendas de otras provincias."

Dado que la empresa tiene sus ra铆ces en Andaluc铆a, hay una mayor cantidad de clientes registrados en tiendas de esta comunidad. As铆 que si ves que hay m谩s clientes en Sevilla, M谩laga o C谩diz, no es un bug, es un feature.
(Vale, s铆, un poco geek, seguimos...). Esta distribuci贸n desigual se decide a trav茅s de los **pesos** asignados a cada provincia.

Para completar la informaci贸n del cliente, se generan c贸digos postales que reflejan su ubicaci贸n en funci贸n de la tienda asignada. Cada c贸digo sigue un patr贸n de prefijos geogr谩ficos reales, a帽adiendo un n煤mero aleatorio al final para simular una direcci贸n m谩s aut茅ntica. 

Finalmente, los datos se integran en un `DataFrame`, eliminando columnas innecesarias y organizando los registros para su posterior inserci贸n en la base de datos.

### 8锔 **Creaci贸n del DataFrame de rdenes o Tickets** 

Las 贸rdenes o tickets de compra representan las transacciones realizadas por los clientes en las tiendas. Cada orden tiene una fecha y hora de compra, est谩 asociada a un cajero espec铆fico y puede ser pagada en **efectivo, tarjeta o vale**. Adem谩s, para simular un entorno m谩s realista, se excluyen los **domingos** y fechas festivas importantes, evitando que se generen ventas en d铆as no laborables.

In [26]:
import random
from datetime import datetime, timedelta

num_ordenes = 10000
random.seed(2021)

id_tienda = df_tiendas['id_tienda'].unique().tolist()
id_cliente = df_clientes['id_cliente'].tolist()

id_tienda = random.choices(id_tienda, k=num_ordenes)
id_cliente = random.choices(id_cliente, k=num_ordenes)

id_cajeros = df_empleados[df_empleados['puesto'] == 'Cajero/a']
id_cajero = id_cajeros['id_empleado'].tolist()

cajeros_por_tienda = {t: id_cajeros[id_cajeros['id_tienda'] == t]['id_empleado'].tolist() for t in id_tienda}
cajero_id = [random.choice(cajeros_por_tienda[tienda]) for tienda in id_tienda]

dias_excluidos = {(1, 1), (6, 1), (1, 5), (6, 12), (8, 12), (25, 12)}
dias_semana_excluidos = {6}  # Excluir domingos

fecha_orden = []
while len(fecha_orden) < num_ordenes:
    fecha = datetime.now().date() - timedelta(days=random.randint(0, 365))
    if (fecha.month, fecha.day) not in dias_excluidos and fecha.weekday() not in dias_semana_excluidos:
        fecha_orden.append(fecha.strftime('%Y-%m-%d'))

hora_orden = [datetime.strptime(f"{random.randint(10, 22)}:{random.randint(0, 59)}:{random.randint(0, 59)}", "%H:%M:%S").time() for _ in range(num_ordenes)]

metodos_pago = ['tarjeta', 'efectivo', 'vale']
metodo_de_pago = random.choices(metodos_pago, k=len(fecha_orden))

df_ordenes = pd.DataFrame(
    zip(id_cliente, cajero_id, id_tienda, fecha_orden, hora_orden, metodo_de_pago),
    columns=['id_cliente', 'id_empleado', 'id_tienda', 'fecha_orden', 'hora_orden', 'metodo_de_pago']
)

df_ordenes = df_ordenes.reset_index().rename({'index': 'id_orden'}, axis=1)
df_ordenes['id_orden'] = df_ordenes['id_orden'] + 1

df_ordenes.head()

,id_orden,id_cliente,id_empleado,id_tienda,fecha_orden,hora_orden,metodo_de_pago
0,1,1938,175,9,2024-11-06,19:18:10,tarjeta
1,2,1235,178,9,2024-12-21,18:06:24,vale
2,3,1569,117,6,2024-12-19,10:56:44,vale
3,4,571,60,3,2024-08-17,16:17:47,tarjeta
4,5,1578,138,7,2024-09-13,16:34:10,efectivo

##### **Explicaci贸n del C贸digo**

El c贸digo desarrolla diversas t茅cnicas para garantizar una correcta simulaci贸n de 贸rdenes de compra en el entorno de las tiendas. Utiliza las bibliotecas `random` y `datetime` para generar fechas, horas y selecciones aleatorias de clientes, empleados y tiendas que se incluyen en las 贸rdenes.

El proceso de generaci贸n de 贸rdenes est谩 pensado para simular la actividad comercial real de las tiendas. Se generan **10,000 贸rdenes de compra**, cada una asociada a un cliente y a un cajero asignado aleatoriamente dentro de la tienda correspondiente. Esto permite reflejar transacciones de manera veros铆mil. Se establecen ciertas restricciones en las fechas, asegurando que no se generen 贸rdenes en **domingos ni en d铆as festivos**, como A帽o Nuevo o Navidad.

Adem谩s, cada orden se genera con una hora aleatoria dentro del rango de **10:00 a 22:00**, simulando el horario comercial de las tiendas. Tambi茅n se clasifica cada orden en uno de los tres m茅todos de pago disponibles: **tarjeta, efectivo o vale**.

Se utiliza `random.choices()` para seleccionar aleatoriamente clientes y tiendas, asegurando una distribuci贸n variada de las 贸rdenes. La asignaci贸n de cajeros tambi茅n se hace din谩micamente, filtrando solo aquellos empleados cuyo puesto es 'Cajero/a'.

Para las fechas de las 贸rdenes, `datetime.now()` y `timedelta(days=random.randint(0, 365))` permiten seleccionar fechas aleatorias dentro del 煤ltimo a帽o, excluyendo domingos y d铆as festivos mediante estructuras de conjuntos.

El `zip()` se usa para ensamblar los datos en el `DataFrame`, combinando las listas generadas.

### 9锔 **Generaci贸n del Detalle de rdenes**

El detalle de 贸rdenes representa cada l铆nea de productos comprados dentro de una orden o ticket. Cada ticket puede contener m煤ltiples productos con su cantidad, precio unitario y, en algunos casos, descuentos aplicados. Para asegurar una distribuci贸n realista de los datos, los productos se asignan aleatoriamente a cada orden, y se generan descuentos ocasionales.

In [27]:
num_detalles = 30000
random.seed(2021)

id_orden = random.choices(df_ordenes['id_orden'].tolist(), k=num_detalles)
id_producto = random.choices(df_productos['id_producto'].tolist(), k=num_detalles)
cantidad = [random.randint(1, 20) for _ in range(num_detalles)]

descuento = [round(random.uniform(0.10, 2.50), 2) if random.random() < 0.85 else None 
            for _ in range(num_detalles)]

df_detalle_orden = pd.DataFrame(zip(id_orden, id_producto, cantidad, descuento),
                                columns= ['id_orden', 'id_producto', 'cantidad', 'descuento'])

df_detalle_orden = df_detalle_orden.merge(df_productos[['id_producto', 'precio']], on='id_producto', how='left')
df_detalle_orden.rename(columns={'precio':'precio_unitario'}, inplace=True)

df_detalle_orden = df_detalle_orden.reset_index().rename({'index': 'id_detalle'}, axis=1)
df_detalle_orden['id_detalle'] = df_detalle_orden['id_detalle'] + 1

df_detalle_orden.fillna({'descuento': 0}, inplace=True)
column_order = ['id_detalle','id_orden', 'id_producto', 'cantidad', 'precio_unitario', 'descuento']
df_detalle_orden = df_detalle_orden[column_order]

df_detalle_orden.head()

   id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0           1      8364           16        11         7.436235       2.37
1           2      8584           27         9         3.773355       0.54
2           3      5442           25         6         2.881836       1.61
3           4      2474            5         7         5.313727       0.00
4           5      6351           25        17         2.881836       1.13

##### **Explicaci贸n del C贸digo** 

Este c贸digo genera **30,000 l铆neas de detalle de 贸rdenes**, asignando productos y cantidades de manera aleatoria para cada transacci贸n. Se utiliza `random.choices()` para seleccionar productos y 贸rdenes existentes, asegurando una distribuci贸n equilibrada.

La cantidad de productos por l铆nea de orden se establece mediante `random.randint(1, 20)`, generando tickets con compras de distintos tama帽os. Adem谩s, se aplica un descuento aleatorio en aproximadamente el **85% de los registros**, utilizando `random.uniform(0.10, 2.50)`, lo que simula promociones y descuentos frecuentes en los productos, es decir el 85% de los productos tiene alg煤n tipo de descuento entre 0.10 y 2.50 euros.

El c贸digo tambi茅n realiza un **merge** con la tabla de productos para incluir el precio unitario de cada 铆tem dentro del detalle de la orden. 
Mediante `.fillna()`, se asigna un valor de 0 a los descuentos none, el 15%, asegurando que todas las lineas de descuento tengn un valor.

### 1锔0锔 **Exportaci贸n de los DataFrames a CSV**

Para facilitar la carga de los datos en la base de datos MySQL, se exportan todos los DataFrames generados a archivos CSV. Posteriormente, estos archivos podr谩n ser utilizados para su inserci贸n en MySQL mediante una funci贸n que se define en la siguiente secci贸n.

In [28]:
df_tiendas.to_csv('tiendas.csv', index=False)
df_empleados.to_csv('empleados.csv', index=False)
df_categoria.to_csv('categoria.csv', index=False)
df_productos.to_csv('productos.csv', index=False)
df_clientes.to_csv('clientes.csv', index=False)
df_ordenes.to_csv('ordenes.csv', index=False)
df_detalle_orden.to_csv('detalle_orden.csv', index=False)


##### **Explicaci贸n del C贸digo** 

La exportaci贸n de los DataFrames a CSV se realiza utilizando el m茅todo `.to_csv()` de Pandas. Este proceso es fundamental para garantizar que los datos generados en Python puedan ser utilizados en entornos de bases de datos relacionales como MySQL.

Cada archivo CSV se genera sin incluir el 铆ndice (`index=False`) para evitar agregar una columna innecesaria que pueda generar duplicidades.

En la siguiente secci贸n se implementar谩 una funci贸n para insertar los datos en MySQL de manera eficiente y a continuaci贸n se llevara a cabo su inserci贸n.

###  1锔1锔 **Inserci贸n de Datos en MySQL**

Para poblar la base de datos con los datos generados, se define una funci贸n que permite insertar cualquier `DataFrame` en una tabla de MySQL. Esta funci贸n maneja posibles errores y utiliza una inserci贸n eficiente con `executemany`.

In [29]:
def insertar_dataframe(df, table_name):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='mercazona'
        )
        cursor = connection.cursor()
        
        columns = ','.join(df.columns)
        placeholders = ','.join(['%s'] * len(df.columns))
        sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders});'
    
        rows = [tuple(row) for index, row in df.iterrows()] 
        cursor.executemany(sql, rows)
        
        connection.commit()
        return cursor.rowcount
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

##### **Explicaci贸n del C贸digo** 

Esta funci贸n permite insertar cualquier `DataFrame` en una tabla de MySQL de manera din谩mica y eficiente a trav茅s de lo siguientes puntos que, a continuaci贸n, se detallan:

1. **Conexi贸n a MySQL**: Se establece la conexi贸n a la base de datos `mercazona` usando las credenciales proporcionadas.
2. **Generaci贸n de la consulta SQL**: Se obtienen din谩micamente los nombres de las columnas del `DataFrame` y se construye una consulta `INSERT` con los placeholders (`%s`).
3. **Conversi贸n de datos**: Se transforman los registros del `DataFrame` en tuplas, listas necesarias para `executemany()`.
4. **Ejecuci贸n**: `cursor.executemany()` inserta m煤ltiples registros en una sola operaci贸n, reduciendo el tiempo de ejecuci贸n.
5. **Manejo de errores**: Si ocurre un error, se imprime el mensaje y se revierte la transacci贸n (`rollback()`).
6. **Cierre de recursos**: Finalmente, se cierra el cursor y la conexi贸n para evitar fugas de memoria.

AL igual que en la conexion inicial, se implementa un bloque `try-except` para capturar errores de conexi贸n o ejecuci贸n de SQL. Con un mensaje de error en caso de fallo con la descripci贸n del mismo. Se reverter铆a cualquier operaci贸n pendiente con `connection.rollback()`.
Por 煤ltimo se cierran las conexiones a trav茅s de finally del los objetos cursor y connection.

### 1锔2锔 **Inserci贸n de las Tablas en MySQL**

Para completar la carga de datos en la base de datos MySQL, se llama a la funci贸n `insertar_dataframe()` para insertar los DataFrames generados en sus respectivas tablas.

Este proceso finaliza la carga de los datos en MySQL, asegurando que cada tabla reciba su informaci贸n correspondiente.

In [30]:
insertar_dataframe(df_tiendas, 'tiendas')
insertar_dataframe(df_empleados, 'empleados')
insertar_dataframe(df_categoria, 'categorias')
insertar_dataframe(df_productos, 'productos')
insertar_dataframe(df_clientes, 'clientes')
insertar_dataframe(df_ordenes, 'ordenes')
insertar_dataframe(df_detalle_orden, 'detalle_orden')

30000

##  **Conclusi贸n del Proyecto** 

A trav茅s de este proyecto se ha demostrado la interoperabilidad entre Python y MySQL Workbench, proporcionando un flujo de trabajo eficiente para la gesti贸n y carga de datos en una base de datos relacional. 

La implementaci贸n se divide en dos partes principales:
1. **El esquema SQL**: Definido en un archivo SQL (`MercaZona_schema2.sql`), que establece la estructura de la base de datos.
2. **El Notebook de Python**: Se encarga de la carga del esquema, la generaci贸n de datos sint茅ticos para poblar las tablas y su posterior env铆o a MySQL.

Gracias a este enfoque, es posible automatizar la creaci贸n y administraci贸n de bases de datos de manera flexible y escalable. Adem谩s, el manejo de errores incorporado garantiza la integridad de los datos y minimiza posibles fallos en la carga.

En resumen, este proyecto es una excelente demostraci贸n de c贸mo **Python y MySQL pueden trabajar juntos para gestionar grandes vol煤menes de datos de manera eficiente**. Y si llegaste hasta aqu铆, felicidades: ahora dominas m谩s sobre bases de datos... o al menos sabes que los cajeros tienen que estar en las 贸rdenes. Muchas gracias por tu inter茅s.

# **FIN**